/*reset css*/
body, div, p, input, button, textarea, select, img, h1, h2, h3, h4, h5, h6, dl, dd, dt, ul, ol, li, a, em, i,
table, tbody, thead, th, td, em {
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    font-style: normal;
    font-weight: normal;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul, ol, li {
    list-style: none;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
input, textarea, select, button, img {
    background-color: transparent;
}
a {
    text-decoration: none;
    cursor: pointer;
}
:focus {
    outline: none;
}
/*浮动*/
.fl {
    float: left;
}
.fr {
    float: right;
}
/*清除浮动*/
.clearfix {
    zoom: 1;
    clear: both;
}
.clearfix:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}
/*行内元素*/
.inline, span, a, b, i, em {
    display: inline-block;
}
/*按钮*/
[class$="-btn"] {
    cursor: pointer;
}

/*开始*/
body{
    font-size: 12px;
    background-color: #f5f5f5;
}
.wrap{
    width: 1050px;
    min-height: 300px;
    background-color: #fff;
    margin: 50px auto;
    padding: 30px;
}
/*标题*/
.wrap h2{
    overflow: hidden;
    width: 350px;
    height: 18px;
    border-right: 1px solid #888;
    -webkit-animation: width 3s steps(19) .3s, border 1.5s steps(1) infinite;
    -o-animation: width 3s steps(19) .3s, border 1.5s steps(1) infinite;
    animation: width 3s steps(19) .3s, border 1.5s steps(1) infinite;
    color: #888;
    white-space: nowrap;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1px;
    margin: 0 auto 30px;
    padding: 0 5px;
}
@keyframes border {
    50% {border-color: transparent;}
}
@keyframes width {
    0% {width: 0;}
}
/*路面*/
.road{
    position: relative;
    width: 987px;
    height: 250px;
    background: url("../images/road.png") no-repeat left bottom;
}
/*小车*/
.car-box{
    position: absolute;
    width: 524px;
    height: 163px;
    bottom: 22px;
    background: url("../images/car.png") no-repeat center center;
    -webkit-transition: ease-in-out .5s;
    -moz-transition: ease-in-out .5s;
    -ms-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
}
/*轮胎*/
.car-box img{
    position: absolute;
    bottom: 10px;
    -webkit-transition: ease-in-out .5s;
    -moz-transition: ease-in-out .5s;
    -ms-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
}
.car-box .tyre-front{
    left: 86px;
}
.car-box .tyre-behind{
    right: 79px;
}

/*按钮*/
.btn-group{
    position: relative;
    width: 675px;
    color: #999;
    margin: 35px auto 0;
}
.btn-group .border{
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 1;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid #999;
}
.btn-group span{
    position: relative;
    z-index: 3;
    float: left;
    width: 75px;
    height: 75px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #999;
    font-size: 16px;
    line-height: 69px;
    text-align: center;
    background-color: #fff;
    padding: 3px;
    margin-right: 75px;
    cursor: pointer;
}
.btn-group span:last-child{
    margin-right: 0;
}
.btn-group span.active{
    color: #fff;
    border: 3px solid #02adee;
    line-height: 65px;
    background: -webkit-radial-gradient(circle, #02adee 64%, #fff 68%); 
    background: -o-radial-gradien(circle, #02adee 64%, #fff 68%); 
    background: -moz-radial-gradient(circle, #02adee 64%, #fff 68%); 
    background: radial-gradient(circle, #02adee 64%, #fff 68%);
}

